BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
LOCATE COMP  "wb_clk_i" SITE "P6";
IOBUF PORT   "wb_clk_i" IO_TYPE=LVCMOS33;
FREQUENCY PORT "wb_clk_i" 25.0 MHz;
LOCATE COMP  "tx_int_o" SITE "E4";
IOBUF PORT   "tx_int_o" IO_TYPE=LVCMOS33;
LOCATE COMP  "wb_sel_i" SITE "F3";
IOBUF PORT   "wb_sel_i" IO_TYPE=LVCMOS33;
LOCATE COMP  "wb_stb_i" SITE "F5";
IOBUF PORT   "wb_stb_i" IO_TYPE=LVCMOS33;
LOCATE COMP  "wb_we_i" SITE "G3";
IOBUF PORT   "wb_we_i" IO_TYPE=LVCMOS33;
LOCATE COMP  "wb_cyc_i" SITE "G4";
IOBUF PORT   "wb_cyc_i" IO_TYPE=LVCMOS33;
LOCATE COMP  "wb_bte_i" SITE "H3";
IOBUF PORT   "wb_bte_i" IO_TYPE=LVCMOS33;
LOCATE COMP  "wb_cti_i" SITE "H4";
IOBUF PORT   "wb_cti_i" IO_TYPE=LVCMOS33;
LOCATE COMP  "wb_adr_i" SITE "G5";
IOBUF PORT   "wb_adr_i" IO_TYPE=LVCMOS33;
LOCATE COMP  "wb_dat_i" SITE "H5";
IOBUF PORT   "wb_dat_i" IO_TYPE=LVCMOS33;
LOCATE COMP  "i2s_sd_i" SITE "J5";
IOBUF PORT   "i2s_sd_i" IO_TYPE=LVCMOS33;
LOCATE COMP  "wb_ack_o" SITE "J4";
IOBUF PORT   "wb_ack_o" IO_TYPE=LVCMOS33;
LOCATE COMP  "wb_dat_o" SITE "B1";
IOBUF PORT   "wb_dat_o" IO_TYPE=LVCMOS33;
LOCATE COMP  "rx_int_o" SITE "";
IOBUF PORT   "rx_int_o" IO_TYPE=LVCMOS33;
LOCATE COMP  "i2s_sck_o" SITE "D3";
IOBUF PORT   "i2s_sck_o" IO_TYPE=LVCMOS33;
LOCATE COMP  "wb_rst_i" SITE "R7";
IOBUF PORT   "wb_rst_i" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP  "i2s_ws_o" SITE "E3";
IOBUF PORT   "i2s_ws_o" IO_TYPE=LVCMOS33;
LOCATE COMP  "i2s_sd_o" SITE "F4";
IOBUF PORT   "i2s_sd_o" IO_TYPE=LVCMOS33;
